body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
    max-width: 100%;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
.col-3 {
    max-width: 30%;
}   
.container {
    max-width: 1100px;
    margin: 0 auto;
}
p {
    color: rgb(70, 70, 70);
}
b {
    color: rgb(31, 31, 31);
}

blockquote {
    background-color: rgb(249, 255, 227);
    padding: 20px;
    line-height: 1.6;
    margin: 0;
    border-left: 10px solid rgb(159, 201, 105);
    color: rgb(53, 56, 42);
}
code {
    display: block;
    padding: 10px;
    background-color:  rgb(248, 252, 237);
    border: 1px solid   rgb(219, 224, 198);
    border-radius: 6px;
    margin: 15px 0;
}

.wrap-redux-img {
    max-width: 600px;
    margin: 20px auto;
}
.wrap-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wrap-images img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
    -webkit-box-shadow: 0px 5px 15px 3px rgba(153,153,153,0.6);
    -moz-box-shadow: 0px 5px 15px 3px rgba(153,153,153,0.6);
    box-shadow: 0px 5px 15px 3px rgba(153,153,153,0.6);
}